@import './helpers/fonts';

html, body{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5, 
h6{
    font-family: "Montserrat";
    font-weight: bold;
    font-style: italic;
}

header{
    height: 4rem;
    width: 100%;
    box-shadow: 3px 3px 3px grey;
    display: flex;
}